PORT=5000
NODE_ENV=production
DATABASE_URL=your-postgres:url
ENGINE_INTERNAL_SECRET=Secret-for-engine
BACKEND_URL=http://localhost:8000
DISCORD_TOKEN=DISCORD_APP_TOKEN
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
